@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    --cor-primaria: black;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hoover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}
*
{
    margin: 0;
    padding: 0;
}

body
{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.destaque-titulo
{
    color: var(--cor-terciaria);
}
.apresentacao
{
    padding: 0% 15% 5%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo
{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;


}
.apresentacao__conteudo__titulo
{
    font-size: 2,25rem;
    font-family: var(--fonte-primaria) ;
}
.apresentacao__conteudo__par
{
    font-size: 1,5rem;
    font-family: var(--fonte-secundaria);

}
.apresentacao__links
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}
.apresentacao__links__navegacao
{
    background-color: var(--cor-primaria);
    width: 70%;
    border: 2px solid;
    border-color: var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-secundaria);
    padding: 16px 0;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.apresentacao__links__navegacao:hover
{
background-color: var(--cor-hoover);
}
.apresentacao__imagem
{

    width: 50%;
    height: 40%;

}
.apresentacao__links__subtitulo
{
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}
.rodape
{
    background-color: var(--cor-terciaria);

    color: var(--cor-primaria);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    padding: 23.64px;
}
.cabecalho
{
    padding: 3% 15%;
}
.cabecalho__menu
{
    display: flex;
    gap: 80px;

}
.cabecalho__menu__links
{
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    text-decoration: none;
}
.paragrafos
{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
}
.sobre_mim__imagem
{

   width: 100%;
   display: flex;

}

.estilizacao__imagem
{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
}
@media (max-width: 1200px)
{

    .cabecalho__menu
    {
        justify-content: center;
    }
    .cabecalho
    {
        padding: 10%;
    }
    .apresentacao
    {
        flex-direction: column-reverse;
        padding: 0% 5% 5%;
        align-items: center;
    }
    .apresentacao__conteudo
    {
       width: auto;
    }
}
.seta 
{
   display: flex;
   align-items: center;
    width: 90%;
  

}


